@import "../../styles/variables.scss";

.Container {
  position: relative;
  // max-width: 80rem;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // gap: 1rem;
  width: 100%;

  .Inner {
    gap: 1rem;
    max-width: 80rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
  }

  @media screen and (max-width: 500px) {
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .ImgDiv {
    position: relative;
    width: 10rem;
    height: 12rem;
    flex-shrink: 0;

    @media screen and (max-width: 500px) {
      &:first-of-type {
        margin-left: 16rem;
      }

      &:last-of-type {
        margin-right: 1rem;
      }
    }

    img {
      border-radius: 1rem;
      width: 100% !important;
    }

    svg {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      z-index: 5;
      font-size: 2.5rem;
      background-color: white;
      color: $color-danger;
      border-radius: 50%;
    }
  }

  .Upload {
    position: absolute;
    top: 50%;
    left: -2rem;
    color: $color-pry-dark;
    background-color: white;
    font-weight: 600;
    font-size: 2.5rem;
    padding: 0.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 1rem;
    z-index: 1;
  }
}
