@import "../../styles/variables.scss";

.Button {
  padding: 1rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
  display: inline-block;
  margin-top: 1rem;
  font-size: 2rem;
  transition: 300ms ease;
  border: none;
  font-weight: 500;

  &.pry {
    color: $color-pry-dark;
    background-color: $background-color-light;
    border: 1px solid $color-pry-dark;

    &:hover {
      background-color: darken($background-color-light, 10%);
    }
  }

  &.Disabled {
    background-color: darkgray;
    color: whitesmoke;
    border: 2px solid darken(darkgray, 5%);
    pointer-events: none;

    &:hover {
      cursor: not-allowed;
      background-color: darkgray;
      color: whitesmoke;
    }
  }

  &.small {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    border: 0.5px solid $color-pry-dark;
    border-radius: 0.5rem;
  }
}
