@import "../../styles/variables.scss";

.Container {
  margin-bottom: 2rem;
  position: relative;

  label {
    position: absolute;
    font-weight: 600;
    padding: 0;
    top: 2.3rem;
    left: 3rem;
    font-size: 1.2rem;
    transform: translateY(-2.3rem);
    transition: all 300ms;
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  select,
  input {
    width: 100%;
    height: 5rem;
    border-radius: 5rem;
    border: none;
    padding-left: 3rem;
    padding-right: 2rem;
    background-color: white;
    transition: all 500ms;
    font-size: 1.6rem;
    outline: 2px solid transparent;

    &:disabled {
      background-color: lightgray;
      cursor: not-allowed;
    }

    &:invalid[data-focused="true"] {
      outline: 2px solid $color-danger;
      color: $color-danger;

      &::-webkit-input-placeholder {
        color: $color-danger;
      }
    }

    &:invalid[data-focused="true"] ~ .ErrorText {
      display: block;
    }

    &:invalid[data-focused="true"] ~ label {
      color: $color-danger;
    }

    &.border {
      outline: 2px solid $color-pry-dark;

      &:focus {
        outline: 2px solid transparent;
        box-shadow: 0 0 15px $color-pry-dark;
      }
    }

    &:placeholder-shown + .Label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(0);
      font-size: 1rem;
    }

    &:focus {
      // box-shadow: 0 0 15px $color-dark;
    }

    &::-webkit-input-placeholder {
      color: $color-pry;
    }
  }

  textarea {
    width: 100%;
    border-radius: 2rem;
    border: none;
    padding-left: 3rem;
    padding-top: 1.5rem;
    resize: none;
    background-color: white;
    transition: all 500ms;
    color: $color-pry-dark;
    font-size: 1.6rem;
    font-family: inherit;
    outline: 2px solid transparent;
    margin-bottom: -1rem;
    min-height: 15rem;

    & + .Label {
      background-color: white;
      width: max-content;
      margin-top: -0.5rem;
    }

    &::-webkit-input-placeholder {
      color: $color-pry;
    }

    &:placeholder-shown + .Label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(0);
      font-size: 1rem;
    }

    &.border {
      border: 2px solid $color-pry-dark;

      &:focus {
        border: 2px solid transparent;
        box-shadow: 0 0 15px $color-pry-dark;
      }
    }
  }
}

.Invalid {
  input,
  textarea {
    outline: 2px solid $color-danger;
    color: $color-danger;

    &::-webkit-input-placeholder {
      color: $color-danger;
    }
  }

  label {
    color: $color-danger;
  }
}

.ErrorText {
  color: $color-danger;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  background: white;
  z-index: 1;
  bottom: -1rem;
  padding: 0 0.5rem;
  border: 1px solid $color-danger;
  border-radius: 1rem;
  font-size: 70%;
  margin-left: 3rem;
  transition: 300ms ease;
  animation: SlideDown 300ms;
  display: none;
}

.Eyes {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  color: $color-pry;
  cursor: pointer;
}

@keyframes SlideDown {
  from {
    transform: translateY(-1rem);
  }
  to {
    transform: translateX(0);
  }
}
