@import "../../styles/variables.scss";

.Loader {
  border: 0.4rem solid $color-pry-dark;
  border-top: 0.4rem solid $background-color;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: spin 1s linear infinite;
}

.White {
  border: 0.4rem solid white;
  border-top: 0.4rem solid $background-color-light;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
