@import "../../styles/variables.scss";

.Container {
  border-radius: 0.5rem;
  color: $color-pry-dark;
  display: flex;
  flex-direction: column;
  background-color: $background-color-light;
  padding: 0.5rem;
  filter: drop-shadow(0 0 5px rgba($color-pry-dark, 0.7));
  position: relative;
  font-size: 1.5rem;
  min-height: 5rem;
  animation: SlideIn 500ms forwards;

  &::after {
    height: 5px;
    background-color: $color-pry-dark;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    animation: Shrink 7000ms linear forwards;
    border-bottom-left-radius: 0.5rem;
  }

  &.ToastIsVisible {
    animation: none !important;
  }

  &.Out {
    animation: SlideOut 500ms forwards !important;
  }

  &.Error {
    background-color: rgb(247 163 163);
    color: rgb(116 4 4);
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.7));

    &::after {
      background-color: rgb(116 4 4);
      animation: Shrink 30000ms linear forwards;
    }
  }

  &.IsPaused {
    animation: none !important;

    &::after {
      -webkit-animation-play-state: paused;
      animation-play-state: paused;
    }
  }

  .Content {
    align-self: center;
    margin-top: 1rem;
  }

  .Close {
    position: absolute;
    font-size: 2rem;
    z-index: 15;
    top: 0;
    left: -2.5rem;
    background-color: $background-color-light;
    border-radius: 50%;
    // color: $color-gray-2;
    cursor: pointer;

    &.Error {
      background-color: rgb(247 163 163);
      color: rgb(116 4 4);
    }
  }

  .Check,
  .Cancel {
    font-size: 2rem;
    margin-right: 1rem;
    border-radius: 50%;
    width: max-content;
  }

  .Check {
    color: $color-pry-dark;
  }

  .Cancel {
    color: rgb(116 4 4);
  }
}

@keyframes SlideIn {
  0% {
    transform: translateX(10rem);
  }
  70% {
    transform: translateX(-2rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes SlideOut {
  0% {
    transform: translateX(0rem);
  }
  30% {
    transform: translateX(-2rem);
  }
  100% {
    transform: translateX(100vw);
  }
}
@keyframes Shrink {
  0% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}
