@import "../../../styles/variables.scss";

.Container {
  background: white;
  color: $color-pry-dark;
  box-shadow: 0 0 5px $color-pry-dark;
  border-radius: 2rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: 200ms;

  &.Loading {
    pointer-events: none;
    background-color: #eee;
    filter: blur(1px);

    img {
      filter: blur(3px);
    }
  }

  @media screen and (max-width: 400px) {
    max-width: 32rem;
    margin: 0 auto;
  }

  h3 {
    text-transform: capitalize;
    margin: 1rem;
    font-size: 2rem;
    color: $color-pry-dark;
    overflow: hidden;
    line-height: 1.2;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  img {
    display: block;
    max-height: 35rem;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 2rem 2rem 0 0;
    object-fit: cover;

    @media screen and (min-width: 780px) {
      max-height: 26rem;
    }
  }

  .Heading {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    margin-bottom: 0;

    div {
      display: flex;
      font-size: 90%;
      color: darkgray;
      gap: 2rem;
      align-items: center;
      justify-content: flex-end;
      line-height: 1.3;

      .Read {
        color: $color-pry-dark;
        border: 1px solid $color-pry-dark;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
      }
    }
  }

  .Description {
    padding: 0.5rem 1rem;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.8rem;
    font-size: 1.5rem;
    margin-top: auto;

    & > * {
      display: flex;
      align-items: center;
    }

    svg {
      font-size: 2rem;
    }

    div {
      position: relative;
      display: inline-block;
      margin: 1rem 0;
      display: flex;
      align-items: center;
      font-size: 2rem;

      span {
        margin-top: -2rem;
        border-radius: 0.5rem;
        font-size: 1rem;
        padding: 0rem 0.3rem;
        color: $color-pry;
      }
    }
  }
}
