@import "../../../styles/variables.scss";

.Container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
  margin: 0 auto;

  @media screen and (max-width: 930px) {
    flex-direction: column;
    align-items: center;
  }

  & > div {
    box-sizing: 0 0 5px $color-pry-dark;
    border-radius: 1rem;
    height: max-content;

    @media screen and (max-width: 930px) {
      max-width: 85% !important;
    }
    @media screen and (max-width: 600px) {
      max-width: 95% !important;
    }
  }
}
