$color-pry: #0077b6;
$color-pry-dark: #03045e;
$color-white: #fff;
$color-black: #000;
$color-danger: #db3a34;
$color-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);

$background-color: #90e0ef;
$background-color-dark: #00b4d8;
$background-color-light: #caf0f8;
